body {
    margin: 0;
    font-family: 'Ruda', sans-serif;
    background-color: #f5f1ef;
    color: #3a1212;
}

.auth-container {
    min-height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    background-color: white;
    padding: 40px;
    border-radius: 14px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.1);
    width: 320px;
    display: flex;
    flex-direction: column;
}

.form-box h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #5a1f1f;
}

.form-box label {
    font-weight: 700;
    margin-bottom: 6px;
}

.form-box input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: 'Ruda', sans-serif;
}

.form-box button {
    padding: 12px;
    border: none;
    background-color: #5a1f1f;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
    font-family: 'Ruda', sans-serif;
    margin-top: 10px;
}

.form-box button:hover {
    background-color: #3a1212;
}

.link {
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #5a1f1f;
    font-size: 14px;
}

.link:hover {
    text-decoration: underline;
}

header {
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    height: 160px;
}

.navbar {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 0 80px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
    height: auto;
    display: block;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu li {
    list-style: none;
    position: relative;
}

.menu a {
    text-decoration: none;
    color: #3a1212;
    font-weight: 700;
}

.menu-btn {
    background-color: #5a1f1f;
    color: white !important;
    padding: 8px 14px;
    border-radius: 8px;
}

main {
    margin-top: 180px;
}

#userMenu {
    position: relative;
}

.user-btn {
    cursor: pointer;
}

.user-dropdown {
    position: absolute;
    top: 45px;
    right: 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
    padding: 8px;
    min-width: 120px;
    z-index: 999;

    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;

    transition: all 0.25s ease;
}

.user-dropdown.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.logout-btn {
    display: block;
    padding: 10px 14px;
    border-radius: 8px;
    background-color: #f5f1ef;
    color: #5a1f1f !important;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
}

.logout-btn:hover {
    background-color: #5a1f1f;
    color: white !important;
}